.banner{
           background-image: url('/photos/app1.jpg');
         background-size:100% 100%;
         background-attachment:fixed;
         background_repeat: norepeat;
        background-color: slategray;
        width:100%;
        height:100px;
        margin-bottom: 10px;
}
.banner-text{
             top:4%;
             left:40%;
             position:Absolute;
             transform:Transform;

}
.body{

}